# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
# Ignore uploaded media files but keep folder structure
media/*
!media/.gitkeep
!media/students/
!media/teachers/
!media/documents/
media/students/*
media/teachers/*
media/documents/*
!media/students/.gitkeep
!media/teachers/.gitkeep
!media/documents/.gitkeep
# Static files collected for production
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode
.idea
